@tailwind base;
@tailwind components;
@tailwind utilities;




/* small helpers */
html.dark {
  --bg: #0b1220;
  --text: #e6e8ec;
}

html.light {
  --bg: #f8fafc;
  --text: #0f172a;
}


html,
body,
#__next {
  height: 100%;
}

body {
  transition: background-color .25s ease;
}